{{python_readme_header_md}}

This utility provides a means to work on graphics with a programmatic workflow.

# Command-line Options

```
$ {{" ".join(help_custom["args"])}}

{{help_custom["stdout"]}}
```

{{python_readme_dep_graph_md}}
