---
name: Python Package

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  SECRETHUB_CREDENTIAL: ${{secrets.SECRETHUB_CREDENTIAL}}

jobs:
  build:

    runs-on: ${{matrix.system}}
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
        system:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    env:
      PYTHON_VERSION: ${{matrix.python-version}}
    steps:
      - uses: actions/checkout@master
        with:
          submodules: recursive

      - name: python${{matrix.python-version}} setup
        uses: actions/setup-python@main
        with:
          python-version: ${{matrix.python-version}}
          cache: pip

      - run: pip${{matrix.python-version}} install vmklib

      - run: mk venv python-install-yamllint python-sa-types
        if: |
          matrix.python-version != '3.7'
          || matrix.system != 'windows-latest'

      - name: lint and build
        run: mk python-lint python-sa yaml python-build-once
        env:
          PY_LINT_MYPY_EXTRA_ARGS: --no-incremental
        if: |
          matrix.python-version != '3.7'
          || matrix.system != 'windows-latest'

      - run: mk python-test
        env:
          PY_TEST_EXTRA_ARGS: --cov-report=xml
        if: |
          matrix.python-version != '3.7'
          || matrix.system != 'windows-latest'

      - uses: codecov/codecov-action@main
        if: |
          matrix.python-version != '3.7'
          || matrix.system != 'windows-latest'

      - uses: secrethub/actions/env-export@master
        env:
          TWINE_PASSWORD: secrethub://vkottler/pypi/api-keys/personal-upload
        if: |
          matrix.python-version == '3.8'
          && matrix.system == 'ubuntu-latest'
          && env.SECRETHUB_CREDENTIAL != ''
          && github.ref_name == 'master'

      - run: mk pypi-upload-ci
        env:
          TWINE_USERNAME: __token__
        if: |
          matrix.python-version == '3.8'
          && matrix.system == 'ubuntu-latest'
          && env.SECRETHUB_CREDENTIAL != ''
          && github.ref_name == 'master'
